<ion-modal-view ng-controller="GetLocationCtrl">
	<ion-header-bar>
	  <h1 class="title">Add Location</h1>
	  <div class="buttons">
	    <button class="button button-clear" ng-click="closeModal()">Close</button>
	  </div>
	</ion-header-bar>
	<ion-content has-subheader="false">
		<form ng-submit="findZip()">
			<label for="zip" class="item item-input">
				<span class="input-label">Zip:</span>
				<input type="text" ng-model="searchInfo.zip" name="zip">
			</label>
			
				
				<div class="card">
					<div class="item item-text-wrap" >
						{{locationInfo.city.name}}
					</div>
				</div>

			<label class="item">
				<button class="button button-block button-positive" type="submit">Add this Location</button>
			</label>
		</form>
		<p class="muted">{{searchInfo.zip}}</p>
	</ion-content>

</ion-modal-view>