<ion-modal-view >
	<ion-header-bar>
	  <h1 class="title">Add Location</h1>
	  <div class="buttons">
	    <button class="button button-clear" ng-click="closeModal()">Close</button>
	  </div>
	</ion-header-bar>
	<ion-content has-subheader="false">
		<form name="form" ng-submit="findZip()">
			<label for="zip" class="item item-input">
				<span class="input-label">City:</span>
				<input type="text" name="zip" ng-model="searchInfo.query" placeholder="example: 90210 or Seattle" >
			</label>		
				

			<label class="item">
				<button class="button button-block button-positive" type="submit" ng-hide="locationInfo.city">Lookup City</button>
			</label>
		</form>
		<div class="row row-center" ng-show="locationInfo.city || error">
			<div class="col" ng-class="{assertive: error}">
				{{locationInfo.city}}, {{locationInfo.region}}
				<p ng-show="error">{{error}}</p>
			</div>
			<div class="col" ng-hide="error">
				<button class="button button-positive" ng-click="saveLocation()">Save</button>
			</div>
			<div class="col" ng-hide="error">
				<button class="button button-calm" ng-click="goToLocation()">Just look</button>
			</div>
		</div>
<!-- 		<p class="muted">error code: {{locationInfo.cod}}</p> -->
	</ion-content>
<style>
	.ng-pristine .button{
		display:none;
	}
</style>
</ion-modal-view>